{% extends 'main/layout.html' %}
{% load static %}

{% block cssblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'shop/css/detail.css' %}">
    <style>
        .form-control select {
            border: none;
            width: 100%;
            height: 100%;
            background: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="pd-wrap">
        <div class="container">
            <div class="heading-section">
                <h2>{{ product.name }}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 gallery-wrap">
                    <div class="img-small-wrap">
                        {% for key, value in product.image_urs.items %}
                            <div class="item-gallery"><img src="{{ value }}" class="img-thumbnail w-200 h-200"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name">{{ product.name }}</div>
                            <div class="product-price-discount"><span>₽{{ product.price }}</span>
                            </div>
                        </div>
                        <p>{{ product.description }}</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="size">Размер</label>
                                    <div class="form-control">{{ cart_product_form.size }}</div>

                                </div>
                                <div class="col-md-6">
                                    <label for="color">Цвет</label>
                                    <select id="color" name="color" class="form-control">
                                        <option>{{ product.color }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="product-count">
                                <label for="size">Количество</label>
                                <div class="qty">{{ cart_product_form.quantity }}</div>
                            </div>

                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину" class="round-black-btn">
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                           aria-controls="description" aria-selected="true">Похожие товары</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                         aria-labelledby="description-tab">
                        {{ product.description }}
                    </div>
                    <div class="container">
                        <h2 class="font-header-2 mb-lg-6 mb-4 pb-lg-0 pl-lg-2">Другие расцветки</h2>
                        <div class="hoizontal-product-carousel pb-lg-7 row" data-items-count="3.0">

                            {% for item in similar_products %}

                                <div class="pr-2 pr-lg-0 p-tile col-lg-4 px-lg-2">

                                    <div class="product-tile product-tile-pd d-flex flex-column">
                                        <div class="flex flex-column">
                                            <div class="image-container">
                                                <a href="/pd/574-rugged/ML574DV2-42729.html" class="product"
                                                   data-pid="ML574DV2-42729">
                                                    <picture>
                                                        <div class="item-gallery"><img src="{{ item.image_urs.image1 }}"
                                                                                       class="img-thumbnail w-200 h-200">
                                                        </div>
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="d-flex pt-lg-0 pt-1 my-2 justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <a href="{{ item.get_absolute_url }}">
                                                        <span class="product-name font-body font-weight-semibold mb-2 mb-lg-0">{{ item.name }}</span>
                                                    </a>

                                                </div>
                                                <div class="product-price price mr-0 mr-lg-2">
                                                    <span class="font-body font-weight-semibold">{{ item.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badges">

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'shop/js/detail.js' %}"></script>
{% endblock %}