{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Shop
{% endblock %}

{% block cssblock %}

    <link rel="stylesheet" href="{% static 'shop/css/list.css' %}">
{% endblock %}

{% block content %}
    {% load templatetsgs %}
    <div class="site-navbar py-2">
        <div class="filters">
            <div class="search-wrap" style="display: flex">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="{% url 'shop:product_list' %}" method="get" id="search" style="display: flex;">
                        <input type="search" class="form-control " name="search" placeholder="Введите название..."
                                {% if search != None %} value="{{ search }}" {% endif %}>
                        {% if hender != None %}
                            <select name="hender" id="" style="display: none;">
                                <option value="{{ hender }}">{{ hender }}</option>
                            </select>
                        {% endif %}
                        <select name="sort" id="pet-select" style="border: ridge;">
                            <option value="" {% if sort == None %} selected {% endif %} disabled>Сортировать по...
                            </option>
                            {% for value in sorting_values %}
                                <option value="{{ value.0 }}" {% if value.0 == sort %}
                                        selected {% endif %}>{{ value.1 }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    {#                    <div class="cart"><a href="#" class="icons-btn d-inline-block bag">#}
                    {#                        <span class=""><i class="fa-solid fa-cart-shopping"></i></span>#}
                    {#                        <span class="number">2</span>#}
                    {#                    </a></div>#}
                </div>

            </div>

        </div>
    </div>
    <div class="brands">
        {% for brand in brands %}
            <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a><br>
        {% endfor %}
    </div>
    <section class="items-content">
        <div class="container">
            <div class="row">
                {% if not  products %} {% include 'include/no_results.html' %}{% endif %}
                {% for product in products %}

                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-cart">
                            <div class="product-thumb">
                                {#                                {% for key, value in product.image_urs.items %}#}
                                {#                                    {% if key == 'image1' %}#}
                                {#                                        <a href="{{ product.get_absolute_url }}"><img src="{{ value }}"#}
                                {#                                                                                      class="img-thumbnail w-200 h-200"#}
                                {#                                                                                      alt=""></a>#}
                                {#                                    {% endif %}#}
                                {#                                {% endfor %}#}
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image_urs.image1 }}"></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                <p>{{ product.description }}</p>
                                <div class="product-bottom-details d-flex justify-content-between">
                                    <div class="product-price">
                                        ₽{{ product.price }}
                                    </div>
                                    <div class="product-links">
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                        </form>
                                        <a href="{% url "cart:cart_add" product.id %}" method="post"><i
                                                class="fas fa-shopping-cart"></i></a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {#    <div class="pagination">#}
    {#    <span class="step-links">#}
    {#        {% if page_obj.has_previous %}#}
    {#            <a href="?page=1">&laquo; first</a>#}
    {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
    {#        {% endif %}#}
    {##}
    {#        <span class="current">#}
    {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
    {#        </span>#}
    {##}
    {#        {% if page_obj.has_next %}#}
    {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
    {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
    {#        {% endif %}#}
    {#    </span>#}
    {#    </div>#}
    <div class="paginator">
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?{% if hender != None %}hender={{ hender }}&{% endif %}{% if search != None %}search={{ search }}&{% endif %}{% if sort != None %}sort={{ sort }}&{% endif %}page={{ page_obj.previous_page_number }}"
                   class="paginator-previous">
                    <i class="fa fa-chevron-left"></i></a>

            {% endif %}
            {#        {% if page_obj.paginator.num_pages > 5 %} <h1>------------</h1>{% endif %}#}
            {% for i in page_obj.paginator.num_pages|create_range:1 %}
                <a href="?{% if hender != None %}hender={{ hender }}&{% endif %}{% if search != None %}search={{ search }}&{% endif %}{% if sort != None %}sort={{ sort }}&{% endif %}page={{ i }}"
                   class="paginator-page {% if page_obj.number == i %}paginator-current{% endif %}">{{ i }}</a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% if hender != None %}hender={{ hender }}&{% endif %}{% if search != None %}search={{ search }}&{% endif %}page={{ page_obj.next_page_number }}"
                   class="paginator-next">
                    <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        {% endif %}
    </div>

    {#            {% for i in pages|create_range:1 %}#}
    {#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
    {#                <a href="?page={{ i }}" class="paginator-page paginator-page-first">{{ i }}</a>#}
    {#            {% endfor %}#}
    <script>
        window.addEventListener('load', function () {
            document.querySelector('#pet-select').addEventListener('change', function (event) {
                document.querySelector('#search').submit();
            });
        });
    </script>
{% endblock %}