{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Shop
{% endblock %}

{% block cssblock %}

    <link rel="stylesheet" href="{% static 'shop/css/list.css' %}">
{% endblock %}

{% block content %}
    {% load templatetsgs %}

    <h6>{{ url_string }}</h6>
    <div class="site-navbar py-2">
        <div class="filters">
            <div class="search-wrap" style="display: flex">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>

                    <form action="{% url 'shop:product_list' %}" method="get" id="search" style="display: flex;">
                        <input type="search" class="form-control " name="search" placeholder="Введите название..."
                                {% if search != None %} value="{{ search }}" {% endif %}>
                        {% if gender != None %}
                            <select name="gender" id="" style="display: none;">
                                <option value="{{ gender }}">{{ gender }}</option>
                            </select>
                        {% endif %}
                        <select name="sort" id="pet-select" style="border: ridge;">
                            <option value="" {% if sort == None %} selected {% endif %} disabled>Сортировать по...
                            </option>
                            {% for value in sorting_values %}
                                <option value="{{ value.0 }}" {% if value.0 == sort %}
                                        selected {% endif %}>{{ value.1 }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    {#                    <div class="cart"><a href="#" class="icons-btn d-inline-block bag">#}
                    {#                        <span class=""><i class="fa-solid fa-cart-shopping"></i></span>#}
                    {#                        <span class="number">2</span>#}
                    {#                    </a></div>#}
                </div>

            </div>

        </div>
    </div>
    <div class="brands">
        {% for brand in brands %}
            <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a><br>
        {% endfor %}
    </div>
    <section class="items-content">
        <div class="container">
            <div class="row">
                {% if not  products %} {% include 'include/no_results.html' %}{% endif %}
                {% for product in products %}

                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-cart">
                            <div class="product-thumb">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image_urs.image1 }}"></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                <p>{{ product.description }}</p>
                                <div class="product-bottom-details d-flex justify-content-between">
                                    <div class="product-price">
                                        ₽{{ product.price }}
                                    </div>
                                    <div class="product-links">
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            <div class="cart-form" style="display: none;">
                                                {{ cart_product_form }}
                                                </div>
{#                                            <input type="submit" >#}
                                            <button type="submit" class="btn btn-primary btn-sm"><i
                                                class="fas fa-shopping-cart"></i></button>

{#                                            <a href="{% url "cart:cart_add" product.id %}" type="submit"><i#}
{#                                                class="fas fa-shopping-cart"></i></a>#}
                                            {% csrf_token %}
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="paginator">
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="{{ url_string }}&page={{ page_obj.previous_page_number }}"
                   class="paginator-previous">
                    <i class="fa fa-chevron-left"></i></a>

            {% endif %}

            {% for page_number in page_obj.paginator.get_elided_page_range %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{ page_number }}
                {% else %}
                    <a
                            href="{{ url_string }}&page={{ page_number }}"
                            class="paginator-page {% if page_number == page_obj.number %}paginator-current{% endif %}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="{{ url_string }}&page={{ page_obj.next_page_number }}"
                   class="paginator-next">
                    <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        {% endif %}
    </div>
    <script>
        window.addEventListener('load', function () {
            document.querySelector('#pet-select').addEventListener('change', function (event) {
                document.querySelector('#search').submit();
            });
        });
    </script>
{% endblock %}